// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2019 Icenowy Zheng <icenowy@aosc.io>
 */

/dts-v1/;
#include "sun8i-v3.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
	model = "Sipeed Lichee Zero Plus";
	compatible = "sipeed,lichee-zero-plus", "sochip,s3",
		     "allwinner,sun8i-v3";

	aliases {
		serial0 = &uart0;
		ethernet0 = &emac;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	leds {
		compatible = "gpio-leds";
		status = "disabled";

		blue_led {
			label = "licheepi:blue:usr";
			gpios = <&pio 4 4 GPIO_ACTIVE_LOW>; /* PE4 */
		};

		green_led {
			label = "licheepi:green:usr";
			gpios = <&pio 4 7 GPIO_ACTIVE_LOW>; /* PE7 */
			default-state = "on";
		};

		red_led {
			label = "licheepi:red:usr";
			gpios = <&pio 4 8 GPIO_ACTIVE_LOW>; /* PE8 */
		};
	};

	reg_vcc3v3: vcc3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm 0 1000000 1>;
		brightness-levels = <0 30 40 50 60 70 100>;
		default-brightness-level = <6>;
	};

	panel: panel {
		#address-cells = <1>;
		#size-cells = <0>;
		// compatible = "urt,umsh-8596md-t", "simple-panel";
		compatible = "stx,st7701s-t", "simple-panel";

		port@0 {
			reg = <0>;
			backlight = <&backlight>;
			#address-cells = <1>;
			#size-cells = <0>;

			panel_input: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&tcon0_out_lcd>;
			};
		};

		// compatible = "panel-lvds";

		// data-mapping = "jeida-18";
		// width-mm = <54>;
		// height-mm = <95>;

		// panel-timing {
		// 		clock-frequency = <33000000>;
		// 		hactive = <360>;
		// 		vactive = <640>;
		// 		hfront-porch = <40>;
		// 		hsync-len = <1>;
		// 		hback-porch = <200>;
		// 		vfront-porch = <12>;
		// 		vsync-len = <1>;
		// 		vback-porch = <30>;
		// 		hsync-active = <0>;
		// 		vsync-active = <0>;
		// 		pixelclk-active = <0>;
		// };

		// port@0 {
		// 	reg = <0>;
		// 	backlight = <&backlight>;
		// 	#address-cells = <1>;
		// 	#size-cells = <0>;

		// 	panel_input: endpoint@0 {
		// 		reg = <0>;
		// 		remote-endpoint = <&tcon0_out_lcd>;
		// 	};
		// };
	};
};

&codec {
	allwinner,audio-routing =
		"Headphone", "HP",
		"Headphone", "HPCOM",
		"MIC1", "Mic",
		"Mic",  "HBIAS";
	status = "okay";
};

&de {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&i2c0 {
	status = "okay";

	gt911: touchscreen@5d {
        compatible = "goodix,gt911";
        reg = <0x5d>;
        interrupt-parent = <&pio>;
        interrupts = <6 12 IRQ_TYPE_LEVEL_HIGH>; /* (PE18) */
        irq-gpios = <&pio 6 12 GPIO_ACTIVE_HIGH>; /* (PE18) */
        reset-gpios = <&pio 6 10 GPIO_ACTIVE_HIGH>; /* RST (PE17) */
        /* touchscreen-swapped-x-y */
    };

	ns2009: ns2009@48 {
		compatible = "nsiway,ns2009";
		reg = <0x48>;
	};
};

&lradc {
	vref-supply = <&reg_vcc3v3>;
	status = "okay";

	button-430 {
		label = "key0";
		linux,code = <BTN_0>;
		channel = <0>;
		voltage = <430000>;
	};

	button-1060 {
		label = "key1";
		linux,code = <BTN_1>;
		channel = <0>;
		voltage = <1060000>;
	};

	button-1650 {
		label = "key2";
		linux,code = <BTN_2>;
		channel = <0>;
		voltage = <1650000>;
	};
};

&pwm {
	pinctrl-names = "default";
	pinctrl-0 = <&pwm0_pins>;
	status = "okay";
};

&tcon0 {
	pinctrl-names = "default";
	pinctrl-0 = <&lcd_rgb666_pins_a>;
	status = "okay";
};

&tcon0_out {
	tcon0_out_lcd: endpoint@0 {
		reg = <0>;
		remote-endpoint = <&panel_input>;
	};
};

&emac {
	phy-handle = <&int_mii_phy>;
	phy-mode = "mii";
	allwinner,leds-active-low;
	status = "okay";
};

&mmc0 {
	broken-cd;
	bus-width = <4>;
	vmmc-supply = <&reg_vcc3v3>;
	status = "okay";
};

&mmc1 {
	broken-cd;
	bus-width = <4>;
	vmmc-supply = <&reg_vcc3v3>;
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_pb_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&usb_otg {
	dr_mode = "host";
	status = "okay";
};

&usbphy {
	usb0_id_det-gpios = <&pio 5 6 GPIO_ACTIVE_HIGH>;
	status = "okay";
};
